* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    font-family: 'Bungee spice', sans-seriff;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: radial-gradient(#333,#000);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
section h2 {
    font: size 8rem;
}
section .set{
    position: absolute;
    width: 100%;
    Height: 100%;
    top: 0;
    left: 0;
    pointer-events: none; 
}                          
section .set div {
    position: absolute;
    display: block;
}
 section .set div:nth-child(1)
 {
    left: 20%;
    animation: animate 15s linear infinite;
    animation-delay: -7s;
 }
 section .set div:nth-child(2)
 {
    left:50%;
    animation: animate 20s linear infinite;
    animation-delay: 0s;
 }
 section set div:nth-child(3)
 {
    left: 70%;
    animation: animate 20s linear infinite;
    animation-delay: -5s;
 }
 section set div:nth-child(4)
 {
    left: 0%;
    animation: animate 15s;
    animation-delay: -5s;
 }
  section .set div:nth-child(5)
{
    left: 85%;
    animation: animate 18s;
    animation-delay: -10s;
}
section .set div:nth-child(6)
{
    left: 0%;
    animation: animate 12s linear infinite;
    animation-delay: -10s;
}
 @keyframes animate
 {
    0% {
        opacity: 0;
        top: -10%;
        transform: translation(20px) rotate(0deg);
    }
 10%
 {
    opacity: 1;
 }
 20%
 {
    transform: translateX(-20px) rotate(45deg);
 }
 40%
 {
    transform: translateX(-20px) rotate(90deg);
 }
 60%
 {
    transform: translateX(20px) rotate(180deg);
 }
 80%
 {
    transform: translateX(-20px) rotate(180deg);
 }
 100%
 {
    top:110%;
    transform: translatex(-20px) rotate(225deg);
 }